@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
html {
  overflow: hidden;
  background-color: #CCFCFF;
  margin: 0;
  padding: 0;
}
